
<br>
<div>
    <ul>
        <li *ngFor="let item of cities">{{item}}</li>
    </ul>
</div>
<hr>
<div>
    <h4>Data Bindings Example</h4>
    Firstname : {{firstname}}
    Lastname : {{lastname}}
    Age : {{age}}
    Receive News Letters : {{receivenewsletters}}
    Gender : {{gender}}
    Country : {{country}}
    <a [href]="address">Click Here</a><br><br>

    <div class="form-group">
        <label for="">FirstName</label>
        <input type="text" [(ngModel)]="firstname" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Lastname</label>
        <input type="text" [(ngModel)]="lastname" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Age</label>
        <input type="text" [(ngModel)]="age" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Receive News Letters</label>
        &nbsp;<input type="checkbox" [(ngModel)] = "receivenewsletters">
    </div>

    <div class="form-group">
        <label for="">Gender</label>
        &nbsp;<input type="radio" [(ngModel)]="gender" value="Male">
        &nbsp;<input type="radio" [(ngModel)]="gender" value="Female">
    </div>

    <div class="form-group">
        <label for="">Country</label>
        <select [(ngModel)] = "country" class="form-control"> 
            <option>India</option>
            <option>USA</option>
            <option>UK</option>
        </select>
    </div>

    <button class="btn btn-primary" (click)="chnageData()">Click Me</button>


</div>